@import '~bootstrap/scss/bootstrap';

.project-details {
    width: 60%;
    min-height: 400px;

    padding: 50px;

    border: 1px solid rgba(0, 0, 0, 0.21);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45);
}